@{
    ViewData["Title"] = "Find country";
}
<form method="POST">
    <h4>Страна не найдена или нет подключения к интернету</h4><br />
    <input type="submit" value="Вернуться к поиску" asp-action="Index" />
</form>
